body {
    font-family: 'Oxygen', sans-serif !important;
    background: url('/math.svg');
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    background-size: 40vh;
	height: 100%;
	width: 100%;
	margin: 0;
}

h1 {
    margin: 0;
}

p {
    margin: 0;
}

.container {
    height: 100vh;
    width: 100%;
    margin: 0;
}

.flex {
    display: flex;
}

.fhc {
    align-items: center;
}

.noscroll {
    overflow: hidden;
    position: absolute;
}